@media (max-width: 1366px) {
  html {
    font-size: 60%;
  }
  .ptagwithquote {
    padding: 3.125rem 0 17.25rem;
  }
  .whyWeAreHereInner h5 {
    font-size: 50px;
  }
  .whyWeAreHereInnerR {
    top: -20px;
  }
  .websitePerformanceR img {
    height: 435px;
    top: -30px;
  }
}

@media (max-width: 1199px) {
  .footerPartOneR form,
  .footerPartOneR::after {
    width: 450px;
  }
  .footerPartOneR::after {
    height: 500px;
  }
  .commitmentsInner p {
    font-size: 20px;
    line-height: 27px;
  }
  .first_hero_section picture img {
    max-width: 90%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 40%;
  }
  .footerPartTwoLGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footerPartOneR form,
  .footerPartOneR::after {
    width: 350px;
  }
  .footerPartOneR::after {
    height: 420px;
  }
  .formInner {
    gap: 10px;
    margin-bottom: 10px;
  }
  .titleWithSpan span {
    font-size: 12px;
    margin: 15px 0 20px;
  }
  .serviceGrid h5 {
    font-size: 18px;
    /* margin: 15px 0; */
  }
  .serviceGrid p {
    font-size: 12px;
  }
  .clientSection p {
    font-size: 22px;
  }
  .ptagwithquote {
    padding: 3.125rem 0 24.25rem;
  }
  .ptagwithquote img {
    max-width: 80px;
  }
  .reviewStars::after,
  .reviewStars::before {
    width: 100%;
  }
  .whyChooseUs .serviceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .whyChooseDesc p {
    font-size: 16px;
    line-height: 17.6px;
    text-align: justify;
  }
  .navbar-collapse.collapse.show {
    display: none;
  }
  .menuOnMobView {
    background-color: #f4f5f7;
    box-shadow: 0px 0px 20px 0px #00000040;
    padding: 30px;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    width: 50%;
    display: block;
    z-index: 3;
    transition: all 0.3s ease;
  }
  .menuOnMobView.show {
    right: 0;
    transition: all 0.3s ease;
  }
  .openMenu {
    position: relative;
    z-index: 10;
    display: block;
  }
  .menuOnMobView ul {
    flex-direction: column;
    align-items: end !important;
    margin-top: 50px;
  }
  .navbar ul li {
    display: none;
  }
  .navbar ul li.after991px,
  .after991px {
    display: block;
  }
  .whySlogan h3 {
    font-size: 16px;
  }
  .whySlogan h2 {
    font-size: 20px;
  }
  .whyWeAreHereInner h5 {
    font-size: 40px;
    line-height: 40px;
  }
  .commitmentsInner {
    max-width: 100%;
    padding: 20px;
    align-items: center !important;
  }
  .websitePerformanceL p {
    font-size: 20px;
    line-height: 24.2px;
  }
}

@media (max-width: 767px) {
  .titleWithSpan .letsGrow,
  .whyWeAreHereInner h5 br,
  .footerPartOneL p br,
  .titleWithSpan img,
  .websitePerformanceR,
  .page_head_text p br,
  .serviceGridInner h5 br,
  .titleWithSpan span br,
  .logoDiv,
  .serviceKeyFeatures small br,
  .heroSectionL p br {
    display: none;
  }
  .padding-lr-footer,
  .heroSection,
  .serviceKeyFeaturesMain,
  .first_hero_section,
  .whyWeAreHereMain,
  .overViewSection,
  .websitePerformanceSection,
  .whatWeDOSection {
    padding: 0 13px;
  }
  .whyWeAreHereMain {
    margin: 20px 0 40px;
  }
  .serviceKeyFeatures .letsGrow {
    margin: 20px 0 0;
  }
  .aboutWhyChooseUs,
  .whyChooseUs,
  .clientSection,
  .ourServicesSection {
    padding: 13px;
  }
  .aboutWhyChooseUsMainR {
    margin: 0 0 40px;
  }
  .clientSection {
    padding-bottom: 40px;
  }
  .serviceKeyFeatures {
    /* padding: 25px 20px; */
    padding: 15px;
  }
  .serviceGrid span {
    color: #f9c704;
  }
  .serviceGrid span svg path {
    fill: #f9c704;
    color: #f9c704;
  }
  .whatWeDOSectionInner {
    padding: 40px 20px;
  }
  .clientSection .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
  }
  .whatWeDOSectionInner .text-center {
    text-align: left !important;
  }
  .heroSection {
    gap: 60px;
  }
  .whyWeAreHereInner h5 {
    font-size: 40px;
    line-height: 36px;
  }
  .websitePerformanceL p {
    font-size: 18px;
    line-height: 21.6px;
  }
  .whyWeAreHereInner p {
    font-size: 12px;
    line-height: 14.4px;
  }
  /* .websitePerformanceL span {
    display: inline-block;
    width: 50%;
  } */
  .whyWeAreHereInnerR {
    padding: 20px 14px;
    position: unset;
    border-radius: 0;
    margin-top: 20px;
    max-width: 100%;
  }
  .keyPointsInner {
    padding: 8px 5px;
  }
  .keyPointsInner:hover {
    background: #f9c704;
  }
  .whyWeAreHereInnerL {
    padding: 0;
  }
  .keyPointsInner {
    text-align: left;
  }
  .keyPointsInner svg {
    max-width: 18.73px;
    height: auto;
    margin-bottom: 10px;
  }
  .keyPointsInner p {
    text-align: left;
  }
  .heroSectionL h2 {
    font-size: 50px;
    line-height: 50.5px;
  }
  .heroSectionL p {
    margin: 25px 0;
  }
  .heroSectionL p,
  .heroSectionL p span {
    font-size: 12px;
    line-height: 14.4px;
  }
  .whySlogan h3 {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .whySlogan h2 {
    font-size: 16px;
    line-height: 21.6px;
  }
  .footerPartOneR form {
    border-radius: 12px;
  }
  .heroSectionL,
  .aboutWhyChooseUsMainL,
  .heroSectionR,
  .modal-dialog .footerPartOneR form .pe-0,
  .modal-dialog .footerPartOneR form .ps-0 {
    padding: 0;
  }
  .heroSectionL {
    margin-top: 40px;
  }
  .footerPartTwo {
    flex-wrap: wrap;
  }
  .aboutWhyChooseUs p {
    margin: 40px 0;
  }
  .aboutWhyChooseUsMainL {
    margin: 30px 0 0;
  }
  .websiteDevelopementMain .serviceKeyFeatures,
  .digitalMarketingAgencyMain .serviceKeyFeatures,
  .hotelRevenueManagement .serviceKeyFeatures {
    margin-top: 22px;
  }
  .footerPartOne {
    flex-direction: column;
  }
  .footerPartOneR form,
  .footerPartOneR::after {
    width: 100%;
    left: -11px;
    top: 33px;
  }

  .footerPartOneL p,
  .footerPartOneL span {
    font-size: 16px;
    line-height: 19.2px;
  }

  .quickContact a,
  .quickContact p {
    font-size: 16.81px;
    line-height: 52.54px;
  }
  .footerPartOne {
    gap: 25px;
  }
  .footerPartOneR form {
    margin: 0;
  }
  .footerPartOneR form label {
    font-size: 12px;
    line-height: 14.4px;
  }
  .footerPartOneR::after {
    height: 358px;
  }
  .footerPartOneR form input,
  .formInner textarea::placeholder,
  .formInner input::placeholder {
    font-size: 10px;
    line-height: 27.31px;
  }
  .navbar::after {
    left: -50px;
    top: -121px;
    width: 204px;
    height: 204px;
  }
  .overViewBgImage p {
    font-size: 12px;
    line-height: 14.56px;
  }
  .overViewBgImage {
    padding-top: 103px;
    padding-inline: 20px;
  }
  .overViewSection {
    margin-top: -65px;
  }
  .serviceGrid {
    grid-template-columns: 1fr;
  }
  .serviceGridInner {
    padding-bottom: 20px;
  }
  .serviceGridInner h5 {
    font-size: 14px;
    line-height: 17.15px;
    margin: 10px 0;
  }
  .ourServicesSection .serviceGridInner h5 {
    font-size: 18px;
    line-height: 22.05px;
  }
  .serviceGridInner p {
    font-size: 12px;
    line-height: 14.4px;
  }
  .serviceGridInner img {
    max-width: 30px;
  }
  .whyChooseUs .serviceGrid {
    margin-top: 20px;
  }
  .whyChooseUsInner {
    padding: 15px;
  }
  .serviceGridInner a,
  .serviceGridInner a svg path {
    color: #f9c704;
    fill: #f9c704;
    font-size: 14px;
  }
  .ptagwithquote img {
    max-width: 38px;
  }
  .clientSection {
    gap: 20px;
  }
  .clientSection p {
    font-size: 14px;
    line-height: 16.8px;
  }
  .serviceKeyFeatures .serviceGrid,
  .digitalMarketingAgencyMain .serviceGrid,
  .whyChooseUs .serviceGrid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .whyChooseDesc {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center;
    padding: 23px 16px 30px;
  }
  .reviewStars img {
    max-width: 20px;
  }
  .whyChooseDesc p {
    font-size: 16px;
  }
  .clientSection .carousel-caption h6 {
    font-size: 14px;
    line-height: 16.8px;
    margin: 10px 0 3px;
  }
  .clientSection .carousel-caption span {
    font-size: 14px;
    line-height: 16.8px;
  }

  .ptagwithquote {
    padding: 3.125rem 0 16.25rem;
  }
  .reviewStars {
    gap: 5px;
  }
  .navbar-collapse.collapse.show,
  .menuOnMobView {
    padding: 20px 10px;
    width: 69%;
  }
  .whatWeDOSection .serviceGrid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .page_head_text h1 {
    font-size: 30px;
    line-height: 27px;
  }
  .page_head_text p {
    font-size: 12px;
    line-height: 14.4px;
    margin: 30px 0 50px;
    margin: 20px 0;
  }
  .first_hero_section picture img {
    max-width: 100%;
  }
  .serviceKeyFeatures h6 {
    font-size: 16px;
    line-height: 19.41px;
    padding: 20px 10px;
    text-align: justify;
    margin: 25px 0;
    border-radius: 12px;
  }
  .serviceKeyFeatures small {
    font-size: 12px;
    line-height: 14.56px;
    text-align: justify;
  }
  .first_hero_section {
    margin: 33px 0 0;
  }
  .first_hero_section .letsGrow {
    margin: 40px 0;
  }
  .first_hero_section small {
    font-size: 14px;
    line-height: 16.98px;
    text-align: justify;
    max-width: 100%;
  }
  .commitmentsInner {
    flex-direction: column;
    align-items: start !important;
  }
  .commitmentsInner img {
    max-width: 80px;
  }
  .commitmentsInner p {
    font-size: 16px;
    line-height: 19.41px;
  }
  .spanWithImage img {
    width: 180.4px;
  }
  .modal-body .footerPartOneL h2 {
    font-size: 36.02px;
    line-height: 32.42px;
  }

  .modal-body .footerPartOneL p {
    margin: 14px 0;
  }
  .modal-body .footerPartOneL p,
  .modal-body .footerPartOneL span {
    font-size: 14.41px;
    line-height: 17.29px;
  }
  .modal-body .quickContact a,
  .modal-body .quickContact p {
    font-size: 12.71px;
    margin: 0;
    line-height: 39.72px;
  }
  .modal-body .quickContact a svg,
  .modal-body .quickContact p svg {
    max-width: 19.07px;
    height: 19.07px;
  }
  .modal-body .formInner,
  .formInner {
    grid-template-columns: 1fr;
  }
  .footerPartOneR form .formInner:nth-child(1) label,
  .footerPartOneR form .formInner:nth-child(2) label,
  .footerPartOneR form .formInner:nth-child(3) label {
    padding: 0;
  }
  .modal-body .footerPartOneR form label {
    font-size: 10.81px;
    line-height: 14.4px;
  }
  .modal-dialog .footerPartOne {
    padding: 0;
  }
  .serviceOptions {
    display: none;
  }
  .footerPartOneL .absLogo {
    bottom: 10px;
  }
}
